<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Harvest</title>
  <link rel="stylesheet" href="../stylesheets/common.css">
  <link rel="stylesheet" href="../stylesheets/output.css">
  <script src="https://kit.fontawesome.com/207448519a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="headerInner">
       <a href="/" class="he logo">Harvest</a>
       <div class="he foo01" >
           <a href="/" class="cho choice">応援する</a>
           <a href="/support" class="cho choice">支援中</a>
           <a href="/Setting" class=" choice">支援してもらう</a>
       </div>
       <div class="he header-right">
       <a href="/login" id="" title="ログイン" class="login">ログイン</a>
       <span>/</span>
       <a href="/login" id="" title="新規会員登録" class="login">新規会員登録</a>
       </div>
    </div>
  </header>
  <nav>
  </nav>
  <main>
  <div class="main-title">
    <div class="border-only">
      <div class="pre-images">
        <img src='../<%= fands.titleID %>.jpg'>
      </div>
    </div>
  </div>

   <div class="target">
    <div class="title"><%= fands.title %></div>
    <div class="flex-2item">
     <div class="support">
      <div class="target-box">
      <h4>視聴回数 :
          <%console.log(counts[0].countName);%>
          <%= counts[0].countName ;%>
      </h4>
      </div>
       <div class="target-box">
       <h5>目標視聴数 :  <%= fands.sumview %>k</h5>
      </div>
     </div>
     <div class="days-left">
      <div class="target-box">
       <h4>終了日:
         <% const date = new Date(fands.updatedat); %>
         <% date.setDate(date.getDate() + fands.giveweek); %>
         <%= date.toLocaleDateString();%>
        </h4>
      </div>
       <div class="target-box01">
       <h5>公開日 :  <%= fands.updatedat %></h5>
      </div>
     </div>
     <div class="shere">
      <a href="http://www.facebook.com/share.php?u=https://warm-sierra-59984.herokuapp.com//output/<%=fands.titleID%>" rel="nofollow" target="_blank">
      　<img src="../images/facebook-icon.png" class="fa">
      </a>
      <a href="http://twitter.com/share?&url=https://warm-sierra-59984.herokuapp.com//output/<%=fands.titleID%>&hashtags=#Harvest" rel="nofollow" target="_blank">
        <img src="../images/Twitter-icon.png" class="fa">
      </a>
     </div>
    </div>
   </div>

   <div class="middle-images">
      <div class="midlle-zone">
        <div class="pre-images02">
          <img src= '../<%= fands.user.image_name %>'>
        </div>
      </div>
      <div class="images-text">
         <div class="balloon-line"><%= fands.explanation %></div>
      </div>
   </div>

  <div class="fot">
    <div class="desition">
    <form method="POST" action="/View-count" >
      <input type="hidden" value='<%= fands.titleID %>' name="hidden">
      <input type="submit" value="支援する" class="desition-button" id="js-show-popup">
    </form>
    </div>
  </div>
  
  <div class="comment-room">コメント欄</div>
  <div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
      <a href="#"><img src="../images/pics1.jpg" alt="ポップアップ画像"></a>
    </div>
    <div class="black-background" id="js-black-bg"></div>
  </div>
  </main>
  <aside>
    <img src="../images/pics5.jpeg" class="Advertisement"> 
  </aside>
  <footer></footer>
  <script>

    function popupImage() {
      const popup = document.getElementById('js-popup');
      if(!popup) return;
      const blackBg = document.getElementById('js-black-bg');
      const closeBtn = document.getElementById('js-close-btn');
      const showBtn = document.getElementById('js-show-popup');
    
      closePopUp(blackBg);
      closePopUp(closeBtn);
      closePopUp(showBtn);
      function closePopUp(elem) {
        if(!elem) return;
        elem.addEventListener('click', () => {
          popup.classList.toggle('is-show');
        });
      }
    }
    popupImage();
  </script>
</body>
</html>