<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../stylesheets/common.css">
  <link rel="stylesheet" href="../stylesheets/support.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/207448519a.js" crossorigin="anonymous"></script>
  <title>Harvest</title>
  
</head>
<body>
  <header>
    <div class="headerInner">
      <a href="/" class="he logo">Harvest</a>
       <div class="he foo01" >
           <a href="/" class="cho choice re-choice">応援する</a>
           <a class="cho choice1 re-choice">支援中</a>
           <a href="/Setting" class="choice re-choice">支援してもらう</a>
       </div>
       <div class="he header-right">
       <a href="/login" id="" title="ログイン" class="login">ログイン</a>
       <span>/</span>
       <a href="/login" id="" title="新規会員登録" class="login">新規会員登録</a>
       </div>
    </div>
 </header>
 <nav>
    <div class="user-profile">
      <div class="user-icon00"> 
        <form method="POST" enctype="multipart/form-data" action="/upload">
          <img src= '../<%= users.image_name %>' class="user-icon01">
          <label for="filesend"><i class="far fa-image"></i>
          <input type="file" name="file" class="filesend" id="filesend" required>
          </label>
          <input type="submit" value="更新" class="desition-buttons">
        </form>
      </div>
      <div class="username"><%= users.username %></div>
        <div class="user-text">
          <div class="sum">
            <h4 class="sum00">合計</h4>
            <div class="sum01">
              <h5>ランク</h5>
              <h5>支援回数</h5>
            </div>
            <div class="sum02">
               <h3>１位</h3>
               <h3>100,000回</h3>
            </div>
        </div>
       <div class="weekly">
           <h4 class="sum00">今月</h4>
           <div class="sum01">
             <h5>ランク</h5>
             <h5>支援回数</h5>
           </div>
           <div class="sum02">
             <h3>１位</h3>
             <h3>1,000回</h3>
           </div>
       </div>
      </div>
    </div>
    <div class="Advertisement00">
      <img src="../images/pics5.jpeg" class="Advertisement01"> 
     </div>
 </nav>

 <main>
  <div class="swiper-container">
    <!--<div class="swiper-wrapper">
      <%// for(let i=0 ;i< 10 ;i++) { %>
        <a class="swiper-slide" href='/output/<%=// counts[i]['fand.titleID'] %>'>
          <img src='../<%=// counts[i]['fand.titleID'] %>.jpg' alt="" class="swiper-img" >
          <div class="swiper-box">
            <h3 class="swiper-title"><%=// counts[i]['fand.title'] %></h3>
            <div class="swiper-top">             
              <img src='../<%=// counts[i]['fand.user.image_name'] %>' class="swiper-icon">
              <div class="swiper-bottom">
                <div class="swiper-user"><%=// counts[i]['fand.user.username'] %></div>
                <div class="swiper-view">    
                  <%//const target = fands.find((choice)=>{ %>
                  <%//return choice.titleID === counts[i]['fand.titleID']%>
                  <%//});%>
                  <%//console.log(target.countName);%>
                  <%=// target.countName ;%>回/公開日 <%=// counts[i]['fand.updatedat']%></div>
                </div>
              </div>
            <div class="swiper-ex" ><%=//counts[i]['fand.explanation']%></div>
          </div>
        </a>
      <% }; %>
      -->
      
      <a class="swiper-slide" href="#">
        <img src="../images/pics4.jpg" alt="" class="swiper-img" >
        <div class="swiper-box">
          <h3 class="swiper-title">猫でもパンケーキが食べたい！！</h3>
          <div class="swiper-top">             
            <img src="../images/pics1.jpg" class="swiper-icon">
            <div class="swiper-bottom">
              <div class="swiper-user">neko</div>
              <div class="swiper-view">支援 10万回/残り 7日</div>
            </div>
          </div>
          <div class="swiper-ex" >猫だってパンケーキ食べたいに決まっている。私はパンケーキが大好き。
            <br>そして愛猫のポムのことも大好き。ポムが美味しく食べれるパンケーキを作りたい！</div>
        </div>
      </a>
      <a class="swiper-slide" href="#">
        <img src="../images/pics4.jpg" alt="" class="swiper-img" >
        <div class="swiper-box">
          <h3 class="swiper-title">猫でもパンケーキが食べたい！！</h3>
          <div class="swiper-top">             
            <img src="../images/pics1.jpg" class="swiper-icon">
            <div class="swiper-bottom">
              <div class="swiper-user">neko</div>
              <div class="swiper-view">支援 10万回/残り 7日</div>
            </div>
          </div>
          <div class="swiper-ex" >猫だってパンケーキ食べたいに決まっている。私はパンケーキが大好き。
            <br>そして愛猫のポムのことも大好き。ポムが美味しく食べれるパンケーキを作りたい！</div>
        </div>
      </a>
      <a class="swiper-slide" href="#">
        <img src="../images/pics4.jpg" alt="" class="swiper-img" >
        <div class="swiper-box">
          <h3 class="swiper-title">猫でもパンケーキが食べたい！！</h3>
          <div class="swiper-top">             
            <img src="../images/pics1.jpg" class="swiper-icon">
            <div class="swiper-bottom">
              <div class="swiper-user">neko</div>
              <div class="swiper-view">支援 10万回/残り 7日</div>
            </div>
          </div>
          <div class="swiper-ex" >猫だってパンケーキ食べたいに決まっている。私はパンケーキが大好き。
            <br>そして愛猫のポムのことも大好き。ポムが美味しく食べれるパンケーキを作りたい！</div>
        </div>
      </a>
    </div>
 </main>
 <aside></aside>
  
</body>
</html>